<?xml version="1.0"?>
<config>
    <modules>
        <LCB_Wishlist>
            <version>0.1.0</version>
        </LCB_Wishlist>
    </modules>
    <global>
        <models>
            <lcb_wishlist>
                <class>LCB_Wishlist_Model</class>
                <resourceModel>lcb_wishlist_resource</resourceModel>
            </lcb_wishlist>
            <lcb_wishlist_resource>
                <class>LCB_Wishlist_Model_Resource</class>
                <entities>
                    <wishlist>
                        <table>lcb_wishlist</table>
                    </wishlist>
                </entities>
            </lcb_wishlist_resource>
        </models>
        <helpers>
            <lcb_wishlist>
                <class>LCB_Wishlist_Helper</class>
            </lcb_wishlist>
        </helpers>
        <resources>
            <lcb_wishlist_setup>
                <setup>
                    <module>LCB_Wishlist</module>
                </setup>
            </lcb_wishlist_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <lcb_wishlist>
                <use>standard</use>
                <args>
                    <module>LCB_Wishlist</module>
                    <frontName>lcb_wishlist</frontName>
                </args>
            </lcb_wishlist>
        </routers>
        <layout>
            <updates>
                <lcb_wishlist>
                    <file>lcb_wishlist.xml</file>
                </lcb_wishlist>
            </updates>
        </layout>
    </frontend>
</config>